#modal{
    position: absolute;
    height: 50vh;
    width: 50vh;
    background: gray;
    left: 100px;
    top: 100px;
    border-radius: 10px;
    display: none;
}
#close{
    border: 1px solid black;
}

.show{
    display: block !important;
}