
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    color:black;
    margin-right: 10px;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
   color:black;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}